div, input, label{
    display: block;
}
div:not(:first-child),
input,
label {
    display: none;
}
label, div label {
    background: #F5F5DC;
    padding: 5px;
    border: 2px solid greenyellow;
    width: auto;
    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
}
div, div div {
    background: #FAEBD7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 33%;
    word-wrap: wrap;
    padding: 10px;
}
label:hover, 
div label:hover {
    box-shadow: 5px 5px 5px #BDECB6;
    text-decoration: underline;
    transition-duration: 0.5s;
}
img {
    display: none;
    border: 1px solid gray;
    margin: 5px;
    border-radius: 5px;
}
button {
    margin: 20px;
    padding: 5px;
}
.intro {
    background: #FAEBD7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: auto;
    word-wrap: wrap;
    padding: 10px;
}