/*
#:hover::after {
    content: "";
}

*/
div:hover::after,
div label div:hover::after {
    position: absolute;
    left: 34.5%;
    top: 10px;
    border: 1px solid gray;
    border-radius: 3px;
    width: 300px;
    word-wrap: break-word;
    background: #FAEBD7;
    padding: 5px;
}
label:hover::after {
    position: absolute;
    left: 34.5%;
    border: 1px solid gray;
    border-radius: 3px;
    width: 300px;
    word-wrap: break-word;
    background: #F5F5DC;
    padding: 5px;
}
#yn_have_passport_and_snils:hover::after {
    content: "Если у посетителя с собой нет паспорта или СНИЛС, то это не позволяет идентифицировать личность человека, что даёт право отказать в обслуживании. Пусть приходит позже с указанными документами";
}
#yn_passport_and_snils_match:hover::after {
    content: 'Пока у посетителя в паспорте и СНИЛС есть хоть одно отличие - любые действия с его учётной записью будут безрезультатны. Исправить данные посетитель может так же через нас, взяв другой талон на "Приём документов и личных фотографий, необходимых для получения или замены паспорта гражданина Российской Федерации, удостоверяющего личность гражданина Российской Федерации на территории Российской Федерации" либо "Приём от граждан анкет в целях регистрации в системе обязательного пенсионного страхования, в том числе приём от застрахованных лиц заявлений об обмене или о выдаче дубликата страхового свидетельства (СНИЛС)"';
}
#var_which_service:hover::after {
    content: "Без комментариев";
}
#yn_have_account:hover::after {
    content: "Данный вопрос поможет сэкономить несколько минут, ведь если у посетителя уже есть учётная запись, то надо не регистрировать, а пробовать восстановить учётную запись";
}
#d_new_service_registration:hover::after {
    content: "Заводите новое дело на регистрацию учётной записи ЕСИА";
}
#d_digital_signature:hover::after {
    content: "Подтверждаете учётную запись через ЭЦП. Если у вас нет электронно-цифровой подписи, то идите с паспортом посетителя либо в окно №7, либо окно №38";
}
#yn_previously_issued_passports:hover::after {
    content: 'Если у посетителя в паспорте есть отметка о ранее выданных паспортах, и подтверждение через ЭЦП не прошло с ошибкой "Пользователь не найден", то пробуйте через ЭЦП подтвердить его последние паспортные данные, начиная с последней, потому что учётная запись у него может быть старше паспорта';
}
#yn_try_the_previous_passport:hover::after {
    content: "Если один из старых паспортов подтвердился, то заводим дело на восстановление учётной записи. При этом в дело должен быть внесён сегодняшний паспорт посетителя";
}
#d_digital_signature_after_recovery:hover::after {
    content: "Подтверждение через ЭЦП в данном случае закончится успешно, ведь в дело на восстановление нашло учётную запись именно с этими СНИЛС, паспортом и ФИО, но учётная запись его - стандартная, и восстановить её через АИС невозможно";
}
#d_new_service_recovery:hover::after {
    content: "Заводите новое дело на восстановление учётной записи ЕСИА";
}
#d_choose_responsible:hover::after {
    content: 'Выбираете ответственного во вкладке "Общее"';
}
#d_fill_data_in_ais:hover::after {
    content: "Внимательно заполняете все данные участника дела в АИС";
}
#d_registering_case:hover::after {
    content: "Регистрируете дело";
}
#d_send_inquiry:hover::after {
    content: 'Отправляете запрос, выбрав "Электронный конверт" и "Доставка СМС на мобильный телефон"';
}
#var_see_pdf:hover::after {
    content: 'Смотите во вкладке "Документы" файл с расширением .pdf. Для этого нужно его открыть';
}
#var_see_pdf_operation_success:hover::after {
    content: "Если в хоть в одном из файлов вы увидели эту надпись, то на другие можно не обращать внимания";
}
#var_see_pdf_specified_mobile:hover::after {
    content: "Это предупреждение о том, что телефон, указаный в деле используется в другой учётной записи";
}
#d_no_fear:hover::after {
    content: 'Ждите еще файлы во вкладке "Документы"';
}
#var_see_pdf_have_a_confirmed_account:hover::after {
    content: "Это сообщение означает, что уже есть учётная запись, к тому же подтверждённая";
}
#d_copy_card_after_registration:hover::after {
    content: 'Копируйте карточку участника из вкладки "Заявление" справа';
}
#var_see_pdf_bgir:hover::after {
    content: 'Эта ошибка свидетельствует, что что-то из связки "Паспорт-СНИЛС-ФИО" в данный момент неактуально. Возможен вариант, что или паспорт или СНИСЛ посетитель получил менее 2х недель назад. Но чаще всего причина - ошибка при заполнении данных в АИС';
}
#var_check_data_ok:hover::after {
    content: "Без коментариев";
}
#var_check_data_fix:hover::after {
    content: "Но в следующий раз будьте внимательнее!";
}
#var_see_pdf_user_not_confirmed:hover::after {
    content: "Эта ошибка говорит о том, что учётная запись заполена полностью и правильно, но она не подтверждена. Нужно подтвердить её через ЭЦП и, скопировав карточку участника, начать дело на восстановление";
}
#var_see_pdf_user_not_found:hover::after {
    content: "Эта ошибка говорит о том, что даже СТАНДАРТНОЙ учетной записи не существует, значит можно посетителя регистрировать с нуля, скопировав участника в новое дело на регистрацию";
}
#var_see_pdf_data_is_checked:hover::after {
    content: "Данные посетителя проверяются, нужно еще немного подождать";
}
#d_complete_by_procedure:hover::after {
    content: 'Во вкладке "Процедуры" завершайте дело';
}
#d_dos:hover::after {
    content: "Причины указаны ранее";
}
#d_help_4099:hover::after {
    content: "Звоните в свой IT-отдел, возможно там смогут что-нибудь подсказать или порекомендовать что делать в данной ситуации";
}