.left_menu {
    float: left;
    background: lightgray;
    width: 250px;
    height: 750px;
}
input[type="radio"] {
    display: none;
}
.left_menu label {
    display: block;
    width: 250px;
    height: 10px;
    transition: 0.5s;
}
#radio_valid_sites:checked ~ .radio_valid_sites {
    color: red;
}
#radio_faq_esia:checked ~ .radio_faq_esia {
    color: red;
}
#radio_employees:checked ~ .radio_employees {
    color: red;
}